* {
    box-sizing: border-box;
    font-family: "montserrat" , sans-serif;
    margin: 0;
    padding: 0;
 }
 
 body {
     color: black;
     background-color: lightgray;
 }
 
 header{
     backgrounD-color: black;
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-left: 50px;
     padding-right: 40px;
     padding-top: 0%;
     padding-bottom: 0%;
 }
 
 header nav a {
     color: yellow;
     font-weight: 600;
     padding: 40px;
     text-decoration: none;
 }
 
 #inicio {
     display: flex;
     align-items: center;
     gap: 32px;
     padding: 24px 80px 128px 80px;
     position: relative;
 }
 
 h1,
 h2 {
     font-weight: 600;
     font-size: 25px;
     margin-bottom: 32px;
 }
 
 .paragrafo {
     line-height: 150%;
     margin-bottom: 32px;
 }
 
 .botao {
     background-color: black;
     border-radius: 8px;
     color: #FFFFFFFF;
     padding: 10px 15px;
     text-decoration: none;
 }
 
 .botao-transparente {
     background-color: gray;
     border-radius: 8px;
     color: white;
     padding: 10px 15px;
     text-decoration: none;
 }
 
 .absolute {
     position: absolute;
     bottom: 0;
     left: 0;
     width: 100%;
     z-index: -10;
 }
 
 #Barbearia {
     display: flex;
     align-items: center;
     gap: 64px;
     padding: 64px 80px;
 }
 
 #Barbearia li {
     margin-bottom: 16px;
     margin-left: 32px;
 }
 
 .mapa {
     padding: 64px;
     text-align: center;
 }

 .mapa h3 {
    font-size: 32px;
    padding: 40px;
 }
 
 .mapa img {
     margin: 64px auto;
 }
 
 .mapa .paragrafo {
     max-width: 950px;
     margin: 0 auto;
 }

 
 #Servicos {
     display: flex;
     align-items: center;
     gap: 64px;
     padding: 64px 80px;
 }
 
 .Servico{
     position: relative;
 }
 
 .Servico h3 {
     border: 2px solid black;
     border-radius: 8px;
     cursor: pointer;
     padding: 24px;
 }
 
 .Servico img {
     position: absolute;
     top: 32px;
     right: 24px;
 }
 
 .Servico .paragrafo {
    color: darkblue;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
     border-left: 1px solid black;
     border-radius: 0 0 8px 8px;
     margin-top: -8px;
     padding: 0 30px;
     height: 0;
     opacity: 0;
     overflow: hidden;
     transition: .2s;
 }
 
 .Servico.ativa .paragrafo {
     height: fit-content;
     opacity: 1;
     padding: 24px;
 }
 
 footer {
     background-color: gray;
     display: flex;
     justify-content: space-between;
     gap: 80px;
     padding: 64px 80px;
 }
 
 footer img,
 footer .titulo {
     display: block;
     font-weight: 600;
     margin-bottom: 24px;
 }
 
 footer nav a {
     color: yellow;
     display: block;
     margin-bottom: 16px;
     text-decoration: none;
 }
 
 footer p {
     margin-bottom: 16px;
     max-width: 350px;
 }
 
 footer p a {
     color: #263138;
     text-decoration: none;
 }
 
 #copyright {
     background-color: #263138;
     color: #FFFFFFFF;
     padding: 24px;
     text-align: center;
 }
 
 #copyright a {
     color: #FF9A6C;
 }